@page
@model RestaurantRazor.Pages.MenuItems.CreateModel

<h4>MenuItem</h4>
<hr />
<div class="row" >
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.Name" class="control-label"></label>
                <input asp-for="MenuItemVM.MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItemVM.MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.Description" class="control-label"></label>
                <textarea asp-for="MenuItemVM.MenuItem.Description" rows="4" cols="50"></textarea>
                @*<input type="text" asp-for="MenuItemVM.MenuItem.Description" class="form-control" />*@
                <span asp-validation-for="MenuItemVM.MenuItem.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MenuItemVM.MyImage" class="control-label"></label>
                <input asp-for="MenuItemVM.MyImage" multiple class="form-control" />
            </div>



            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.Spicyness" class="control-label"></label>
                <input asp-for="MenuItemVM.MenuItem.Spicyness" class="form-control" />
                <span asp-validation-for="MenuItemVM.MenuItem.Spicyness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.Price" class="control-label"></label>
                <input asp-for="MenuItemVM.MenuItem.Price" class="form-control" />
                <span asp-validation-for="MenuItemVM.MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.CategoryTypeId" class="control-label"></label>
                <select asp-for="MenuItemVM.MenuItem.CategoryTypeId" class="form-control" asp-items="ViewBag.CategoryTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemVM.MenuItem.FoodTypeId" class="control-label"></label>
                <select asp-for="MenuItemVM.MenuItem.FoodTypeId" class="form-control" asp-items="ViewBag.FoodTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>


      


        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
