@page
@model RestaurantRazor.Pages.MenuItems.EditModel

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuItem.Id" />
            <div class="form-group">
                <label asp-for="MenuItem.Name" class="control-label"></label>
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Description" class="control-label"></label>
                <input asp-for="MenuItem.Description" class="form-control" />
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label asp-for="MenuItem.Imege" class="control-label"></label>
                <input type="file" name="files" multiple class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="MenuItem.Spicyness" class="control-label"></label>
                <input asp-for="MenuItem.Spicyness" class="form-control" />
                <span asp-validation-for="MenuItem.Spicyness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Price" class="control-label"></label>
                <input asp-for="MenuItem.Price" class="form-control" />
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.CategoryTypeId" class="control-label"></label>
                <select asp-for="MenuItem.CategoryTypeId" class="form-control" asp-items="ViewBag.CategoryTypeId"></select>
                <span asp-validation-for="MenuItem.CategoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.FoodTypeId" class="control-label"></label>
                <select asp-for="MenuItem.FoodTypeId" class="form-control" asp-items="ViewBag.FoodTypeId"></select>
                <span asp-validation-for="MenuItem.FoodTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
